main {
	width: 940px;
	margin: 0 auto;
}
form {
	border: 4mm ridge rgba(170, 50, 220, .6);
	padding: 10px;
	margin: 50px;
	height: 520px;
	width: 310px;
}
form label {
	display: block;
	font-size: 18px;
	margin: 0px 0px 10px;

}
form input {
	display: block;
	margin: 0px 0px 10px;
	width: 260px;
}
input[type="file"] {
    color: transparent;
}
.send {
	background-color: lightblue;
	border-radius: 5px;
	font-size: 20px;
}
.send:hover {
	transition: 0.5s;
	background-color: steelblue;
	transform: scale(1.05);
}