/*body header h1 {
	text-align: center;
}*/
body {
	background-color: #B5EAEA;
}
footer {
	background-color: #B4CFB0;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
 	height: 20px;
  	color: #000000;
  	text-align: center;
}
.banner {
	width: 100%;

}